* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.divs {
  width: 200px;
  height: 200px;
  border: gray 2px solid;
}

#azul {
  background-color: blue;
}

#rojo {
  background-color: red;
}

#verde {
  background-color: green;
}

#amarillo {
  background-color: yellow;
}
